<body class="login">
  <div class="row">
    <div class="col m3">
    </div>
    <div class="col s12 m6">
      <div class="card white login-card">
        <div class="container">
          <%= link_to '/auth/linkedin', class: "btn btn-block btn-social btn-linkedin text-center" do %>
          <span class="fa fa-linkedin"></span> Login with LinkedIn
          <% end %>
          </div>
      </div>
    </div>
    <div class="col m3">
    </div>
  </div>
</body>
