
.login {
  background-image: url("geometric-wallpaper-6.jpg");
  background-size: 100%;
}

.login-box {
  height: 100%;
}

.log-button {
  color: white;
  margin: 1.8em;
}

.login-image {
    height: 5em;
}

.login-card {
  margin-top: 7em;
  height: 30em;
  padding-left: 9em;

}
