---
http_interactions:
- request:
    method: get
    uri: http://api.glassdoor.com/api/api.htm?action=employers&format=json&q=Workiva&t.k=jsB14GOP6yI&t.p=219053&useragent=chrome//4.0&userip=127.0.0.1&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "success": true,
          "status": "OK",
          "jsessionid": "B467EEE8F8C8B47D2A3AEA789DCB0706",
          "response": {
            "attributionURL": "http://www.glassdoor.com/Reviews/workiva-reviews-SRCH_KE0,7.htm",
            "currentPageNumber": 1,
            "totalNumberOfPages": 1,
            "totalRecordCount": 1,
            "employers": [{
              "id": 833668,
              "name": "Workiva",
              "website": "www.workiva.com",
              "isEEP": true,
              "exactMatch": true,
              "industry": "Computer Hardware & Software",
              "numberOfRatings": 198,
              "squareLogo": "https://media.glassdoor.com/sqll/833668/workiva-squarelogo-1424252876510.png",
              "overallRating": "3.6",
              "ratingDescription": "Satisfied",
              "cultureAndValuesRating": "4.0",
              "seniorLeadershipRating": "3.4",
              "compensationAndBenefitsRating": "3.4",
              "careerOpportunitiesRating": "3.2",
              "workLifeBalanceRating": "4.0",
              "recommendToFriendRating": 68,
              "sectorId": 10013,
              "sectorName": "Information Technology",
              "industryId": 200060,
              "industryName": "Computer Hardware & Software",
              "featuredReview": {
                "attributionURL": "http://www.glassdoor.com/Reviews/Employee-Review-Workiva-RVW17697806.htm",
                "id": 17697806,
                "currentJob": false,
                "reviewDateTime": "2017-11-02 14:33:27.067",
                "jobTitle": "BDM",
                "location": "",
                "jobTitleFromDb": "BDM",
                "headline": "BDM",
                "pros": "I've worked for several companies since Workiva and Workiva was more pro than con. I genuinely thought about going back several times. Healthcare, benefits, people are all really good. This company has good morals",
                "cons": "lack of movement and need in the market but definitely wish I would have stayed longer.",
                "overall": 4,
                "overallNumeric": 4
              },
              "ceo": {
                "name": "Matthew M. Rizai",
                "title": "CEO",
                "numberOfRatings": 98,
                "pctApprove": 80,
                "pctDisapprove": 20,
                "image": {
                  "src": "https://media.glassdoor.com/people/sqll/833668/workiva-ceo1501761432997.png",
                  "height": 200,
                  "width": 200
                }
              }
            }]
          }
        }
  recorded_at: Tue, 07 Nov 2017 21:04:48 GMT
recorded_with: VCR 3.0.3
